# Logs
logs
*.log
npm-debug.log*

coverage
node_modules
dist
build
dist-ssr
*.local
.env.development
.env.production

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?